/* Set up general styling */
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("./Poppins/Poppins-Medium.ttf") format("opentype");
  font-weight: normal;
}
